* {
  margin: 0;
  padding: 0;
}

.home {
  background-color: #eee;
}

.loc {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  padding: 10px;
}

@media (max-width : 668px) {
  .loc {
    flex-direction: column;
  }
}
